# .github/workflows/azure.yml
name: Deploy Laravel to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, bcmath, intl, sqlite3, redis, zip
          tools: composer

      - name: Composer install (production)
        run: composer install --optimize-autoloader --no-dev --no-progress --prefer-dist

      - name: Laravel production setup
        run: |
          php artisan key:generate --force
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache
          php artisan storage:link || echo "Storage link already exists"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: php-app
          path: .

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: php-app

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: proyect1
          slot-name: Production
          package: .
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_67E2A7A71FC24F32B7FAC3FAB9E19FBA }}